<launch>
  <arg name="model" default="/home/reuben/Desktop/Test/src/dynamic/models/box/model.sdf"/>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file $(arg model) -sdf -model unit_box -x 0 -y 0 -z 5"/>

  <!-- Move the cube -->
  <node name="move_cubes" pkg="dynamic" type="move_cubes.py" output="screen"/>   
</launch>
